.adrow::after {
  content: "";
  clear: both;
  display: table;
}

.adcol {
  float: left;
  width:50%;
  padding:100px;
}
.adcol2 {
  float: right;
  width:50%;
  padding:80px;
}

.adcol li{
  font-size:20px;
  line-height:53px;
}

.vlc {
  border-left: 2px solid black;
  height: 250px;
  position: absolute;
  left:50%;
  margin-left: -3px;
  top:76%;
}

footer {
  height:260px;
  background-color:#80ff80;
  padding:60px;
  bottom:0;
}

.footer-border {
  box-sizing: padding-box;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 50vw solid transparent;
  border-right: 50vw solid  #80ff80;
  border-bottom: 40px solid  #80ff80;
}
.foot-text {
  position: absolute;
  top:3220px;
  left:81%;
  font-size:20px;
  transform: translate(-50%, -50%);
  background-color: ;
  color:black;
  border:2px solid black;
  padding:70px 68px;
}

input[type=text], select {
  width:200px;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width:150px%;
  height:45px;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border:1px solid black;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: transparent;
  border:2px solid black;
  color:black;
  font-weight: 600;
}
