.pic{
opacity:1;
filter:blur(2px);
width:100%;
}
.container {
  position: relative;
  color: white;

}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  width:85%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:40px;
  font-family:"Calibri";
  font-weight:bolder;
}

fieldset{
border:10px solid white;
padding:50px;
margin: 2em 1em 1em;
}


.head-left {
  position: absolute;
  height:auto;
  padding:20px;
  font-size:28px;
  top:64%;
  left:30%;
  font-family: monospace;
  width:250px;
  color:black;

}

.head-right a{
  position: absolute;
  top:75%;
  right:23%;
  letter-spacing: 3px;
  font-size:25px;
  font-family:monospace;
  transform: translate(-50%, -50%);
  background-color:black;
  color:white;
  text-decoration: none;
  text-align:center;
  padding:20px;
}
.head-right a:hover{
  background-color: transparent;
  border:2px solid black;
  color:black;
}

.vl {
  border-left: 2px solid black;
  height: 250px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top:60%;
}
