.mid-con {
  position: relative;
  font-family: Arial;
}

.con-text {
  position: absolute;
  top: 80px;
  left:48%;
  font-size:30px;
  transform: translate(-50%, -50%);
  background-color: ;
  color:black;
  border:2px solid black;
  padding:15px 80px;
}
.con-text2 {
  position: absolute;
  top:180px;
  left:48%;
  letter-spacing: 5px;
  font-size:25px;
  font-family:monospace;
  transform: translate(-50%, -50%);
  background-color: ;
  color:black;
  padding:5px 5px;
}
.con-text3 {
  position: absolute;
  top:270px;
  left:48%;
  margin:auto;
  letter-spacing: 3px;
  font-size:12px;
  font-family:Calibri;
  transform: translate(-50%, -50%);
  background-color: ;
  color:black;
  text-align:center;
  padding:auto;
}
.con-text4 a{
  position: absolute;
  top:360px;
  left:48%;
  letter-spacing: 3px;
  font-size:15px;
  font-family:Calibri;
  transform: translate(-50%, -50%);
  background-color:black;
  color:white;
  text-decoration: none;
  text-align:center;
  padding:15px 15px;
}
.con-text4 a:hover{
  background-color: transparent;
  border:2px solid black;
  color:black;
  font-weight:bold;
}
.con-img {
  position: absolute;
  top:460px;
   left:8%;
text-align: center;
  background-color: ;
  color:black;
  padding:5px 5px;
}
.con-img2 {
  position: absolute;
  top:460px;
  left:30%;
  text-align: center;
  background-color: ;
  color:black;
  padding:5px 5px;
}
.con-img3 {
  position: absolute;
  top:460px;
  left:53%;
  text-align: center;
  background-color: ;
  color:black;
  padding:5px 5px;
}
.con-img4 {
  position: absolute;
  top:460px;
  left:78%;
  text-align: center;
  background-color: ;
  color:black;
  padding:5px 5px;
}

.u-text a{
  position: absolute;
  top:700px;
  left:9%;
  text-align:center;
  background-color:white ;
  color:black;
  font-size:25px;
  width:80%;
  font-family: monospace;
  border:2px solid black;
  padding:50px 120px;
}
